In [2]:
import numpy as np 
import pandas as pd
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import MinMaxScaler,StandardScaler


datasets = pd.read_csv('Exercise-CarData.csv') 
print("\nData :\n",datasets)
print("\nData statistics\n",datasets.describe())

Data :
       Unnamed: 0  Price   Age     KM  ... Automatic    CC  Doors  Weight
0              0  13500  23.0  46986  ...         0  2000  three    1165
1              1  13750  23.0  72937  ...         0  2000      3    1165
2              2  13950  24.0  41711  ...         0  2000      3    1165
3              3  14950  26.0  48000  ...         0  2000      3    1165
4              4  13750  30.0  38500  ...         0  2000      3    1170
...          ...    ...   ...    ...  ...       ...   ...    ...     ...
1431        1431   7500   NaN  20544  ...         0  1300      3    1025
1432        1432  10845  72.0     ??  ...         0  1300      3    1015
1433        1433   8500   NaN  17016  ...         0  1300      3    1015
1434        1434   7250  70.0     ??  ...         0  1300      3    1015
1435        1435   6950  76.0      1  ...         0  1600      5    1114

[1436 rows x 11 columns]

Data statistics
         Unnamed: 0         Price  ...           CC      Weight
count  1436.000000   1436.000000  ...  1436.000000  1436.00000
mean    717.500000  10730.824513  ...  1566.827994  1072.45961
std     414.681806   3626.964585  ...   187.182436    52.64112
min       0.000000   4350.000000  ...  1300.000000  1000.00000
25%     358.750000   8450.000000  ...  1400.000000  1040.00000
50%     717.500000   9900.000000  ...  1600.000000  1070.00000
75%    1076.250000  11950.000000  ...  1600.000000  1085.00000
max    1435.000000  32500.000000  ...  2000.000000  1615.00000

[8 rows x 7 columns]

In [3]:
X = datasets.iloc[:,:-1]
Y = datasets.iloc[:,-1]

print(X)
print(Y)

      Unnamed: 0  Price   Age     KM  ... MetColor Automatic    CC  Doors
0              0  13500  23.0  46986  ...      1.0         0  2000  three
1              1  13750  23.0  72937  ...      1.0         0  2000      3
2              2  13950  24.0  41711  ...      NaN         0  2000      3
3              3  14950  26.0  48000  ...      0.0         0  2000      3
4              4  13750  30.0  38500  ...      0.0         0  2000      3
...          ...    ...   ...    ...  ...      ...       ...   ...    ...
1431        1431   7500   NaN  20544  ...      1.0         0  1300      3
1432        1432  10845  72.0     ??  ...      0.0         0  1300      3
1433        1433   8500   NaN  17016  ...      0.0         0  1300      3
1434        1434   7250  70.0     ??  ...      1.0         0  1300      3
1435        1435   6950  76.0      1  ...      0.0         0  1600      5

[1436 rows x 10 columns]
0       1165
1       1165
2       1165
3       1165
4       1170
        ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114
Name: Weight, Length: 1436, dtype: int64

In [4]:
datasets.dropna(axis=0,how="all",inplace=True)

updated_data = datasets
updated_data['Age']=updated_data['Age'].fillna(updated_data['Age'].mean())

updated_data['MetColor']=updated_data['MetColor'].fillna("No Color")
updated_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1436 non-null   int64
 1   Price       1436 non-null   int64
 2   Age         1436 non-null   float64
 3   KM          1436 non-null   object
 4   FuelType    1336 non-null   object
 5   HP          1436 non-null   object
 6   MetColor    1436 non-null   object
 7   Automatic   1436 non-null   int64
 8   CC          1436 non-null   int64
 9   Doors       1436 non-null   object
 10  Weight      1436 non-null   int64
dtypes: float64(1), int64(5), object(5)
memory usage: 134.6+ KB

In [6]:
new_X = datasets.iloc[:, :-1].values  
new_Y = datasets.iloc[:, -1].values 
updated_data['Age'].fillna(updated_data['Age'].mean())
imputer = SimpleImputer(missing_values = np.nan,strategy = "most_frequent")
imputer = imputer.fit(new_X[:, 1:11]) 
new_X[:, 1:11] = imputer.transform(new_X[:, 1:11]) 
print("\n\nNew Input with most frequent value for NaN : \n\n", new_X)

New Input with most frequent value for NaN :

 [[0 13500 23.0 ... 0 2000 'three']
 [1 13750 23.0 ... 0 2000 '3']
 [2 13950 24.0 ... 0 2000 '3']
 ...
 [1433 8500 55.67215568862275 ... 0 1300 '3']
 [1434 7250 70.0 ... 0 1300 '3']
 [1435 6950 76.0 ... 0 1600 '5']]